.circle__blue {
  background-color: #007ce9;
  height: 160vh;
  width: 80vw;
  border-radius: 80vh;
  z-index: 0;
  position: absolute;
  top: -20vh;
  right: -20vw;
  opacity: 1;
  transition: background-color 1s;
  @media #{$sm-layout} {
    background-color: transparent;
  }
  @media #{$lg-layout} {    
    background-color: transparent;
  }
  @media #{$md-layout} {
    background-color: transparent;
  }
}
.circle__red {
  background-color: #e90000;
  height: 100vh;
  width: 50vw;
  border-radius: 80vh;
  z-index: 0;
  position: absolute;
  top: 200vh;
  left: -5vw;
  opacity: 1;
  transition: background-color 1s;
  @media #{$sm-layout} {
    background-color: transparent;
  }
  @media #{$lg-layout} {    
    background-color: transparent;
  }
  @media #{$md-layout} {
    background-color: transparent;
  }
}
.circle__green {
  background-color: #00e969;
  height: 100vh;
  width: 50vw;
  border-radius: 80vh;
  z-index: 0;
  position: absolute;
  top: 300vh;
  right: -40vw;
  opacity: 1;
  transition: background-color 1s;
  @media #{$sm-layout} {
    background-color: transparent;
  }
  @media #{$lg-layout} {    
    background-color: transparent;
  }
  @media #{$md-layout} {
    background-color: transparent;
  }
}
.circle__black {
  background-color: rgb(38, 38, 38);
  height: 300vh;
  width: 140vw;
  border-radius: 140vh;
  z-index: 0;
  opacity: 1;
  transition: background-color 1s;
  @media #{$sm-layout} {
    background-color: transparent;
  }
  @media #{$lg-layout} {    
    background-color: transparent;
  }
  @media #{$md-layout} {
    background-color: transparent;
  }
}
.black__wrapper{
  height: 500px;
  overflow: hidden;
  position: absolute;
  top: 500vh;
  bottom: -100vh;
  left: -20vw;
}