.cup {
  transition: opacity 1s;
  opacity: 1;
  @media #{$sm-layout} {
    display: none;
  }
  @media #{$lg-layout} {
    opacity: 0.5;
  }
  @media #{$md-layout} {
    opacity: 0.25;
  }
}
.batman {
  position: absolute;
  right: 27vw;
  top: -700px;
  height: 700px;
  width: 700px;
  transition: opacity 1s, height 1s, width 1s;
  opacity: 1;
  @media #{$sm-layout} {
    height: 300px;
    width: 300px;
  }
  @media #{$lg-layout} {
    height: 600px;
    width: 600px;
  }
  @media #{$md-layout} {
    height: 450px;
    width: 450px;
  }
}
